body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/* FBless style */
#password_form{
	display: none;
}

input{
	width: 160px;
	height: 24px;
	margin-top: 10px;
}