body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/* FBless style */
#password_form{
	display: none;
}

input{
	width: 120px;
	height: 30px;
	padding: 5px 8px;
}